<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="{{ asset('js/javascript.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{{ path("main", {}) }}">Home</a></li>
            <li><a href="{{ path("form_index", {}) }}">Forms</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content" div class="container theme-showcase">
    {% block body %}{% endblock %}
</div>
</body>
</html>